{% extends "base.html" %}

{% block content %}
  <h1>Аналитика системы</h1>
  
  <h2>Статистика по доменам</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Домен</th>
        <th>Количество переходов</th>
      </tr>
    </thead>
    <tbody>
      {% for domain, count in analytics.items() %}
      <tr>
        <td>{{ domain }}</td>
        <td>{{ count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Данные пользователей</h2>
  <pre>{{ account_data|tojson(indent=2) }}</pre>
{% endblock %}