{% extends "base.html" %}

{% block content %}
<h2>Регистрация - Шаг 2 из 2</h2>
<p>Завершите регистрацию, {{ username }}!</p>
<form method="POST">
    <select name="gender">
        <option value="">-- Укажите пол --</option>
        <option value="male">Мужской</option>
        <option value="female">Женский</option>
        <option value="other">Другой</option>
    </select>
    
    <input type="number" name="age" placeholder="Возраст" min="1" max="120">
    
    <button type="submit">Завершить регистрацию</button>
</form>
{% endblock %}
